body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

/* top-banner-style */

.head-container {
    width: 100%;
    height: 700px;
    background-color: #2D25A0;
    display: inline-block;
}

.links {
    padding-top: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-pages a,
.dropdown a {
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-right: 36px;
}

.dropdown-container {
    display: none;
}

.dropdown-container>li {
    list-style: none;
}

.fa-bars {
    color: white;
    font-size: 30px;
}

.dropdown {
    display: none;
}

nav>.links>.dropdown-container>li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.22);
    top: 30px;
}

.login {
    background-color: #E02C6D;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a {
    text-decoration: none;
    color: white;
}

.fa-arrow-right-to-bracket {
    font-size: 15px;
}

.live {
    margin-top: 49px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.live-text {
    margin-left: 156px;
}

.live h1 {
    font-weight: 700;
    color: white;
    font-size: 64px;
}

.live-text a {
    background-color: #E02C6D;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 44px;
    text-decoration: none;
    color: white;
}

.live-banner img {
    margin-left: 102px;
    margin-right: 140px;
    width: 556.01px;
    height: 438px;
}

.live-banner:hover img {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* players-style */

.players-container {
    margin: 70px 210px 158px 140px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-items: center;
    position: relative;
    left: 20px;
}

.player {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 474px;
}

.player-img img {
    width: 300px;
    height: 256px;
}

.player-info {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    width: 300px;
    height: 154px;
}

.player-info p {
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
    margin: 0;
}

.player-info small {
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
}

/* highlight-style */

.highlights-container {
    margin: 165px 250px 158px 180px;
    display: flex;
    justify-content: space-between;
}

.highlight-text {
    margin-right: 69px;
}

.highlight-text p {
    font-weight: 700;
    font-size: 48px;
    width: 466px;
    height: 120px;
}

.highlight-text small {
    width: 404px;
    height: 113px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}

.highlight-text a {
    margin-top: 24px;
    background-color: #E02C6D;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 44px;
    text-decoration: none;
    color: white;
}

.highlight-img img {
    width: 567px;
    height: 427px;
    /* position: relative;
    right: 30px; */
}

/* footer-style */

.footer-container {
    margin: 0 470px 100px 475px;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    /* position: relative;
    left: 50px */
}

.footer-img img {
    width: 483.87px;
    height: 110px;
}

.social-links {
    display: flex;
    padding: 0px;
    gap: 14px;
    width: 170px;
    height: 32px;
    margin-top: 20px;
}

.social-links img {
    width: 32px;
    height: 32px;
}

.copyright {
    margin-top: 20px;
    font-size: 18px;
}

/* media-queries */

@media screen and (max-width:688px) {

    .links {
        margin: 33px 16px 33px 16px;
        justify-content: space-between;
        padding: 0px;
    }

    .link-pages {
        display: none;
    }

    .dropdown-container {
        display: block;
    }

    .live {
        margin-top: 52px;
        flex-direction: column;
    }

    .live-text {
        margin-left: 16px;
    }

    .live h1 {
        font-size: 36px;
        width: 278px;
        height: 138px;
    }

    .live a {
        margin-bottom: 50px;
    }

    .live-banner img {
        margin-left: 0px;
        margin-right: 0px;
        width: 350px;
        height: 259.17px;
        margin-bottom: 61px;
    }

    .players-container {
        margin-bottom: 0px;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 27px;
        justify-content: center;
    }

    .player {
        /* position: relative;
        left: 10px; */
        padding: 5px;
    }

    .highlights-container {
        margin: 0px 15px 0px;
        flex-direction: column;
        width: 329px;
    }

    .highlight-text {
        margin-right: 0px;
    }

    .highlight-text p {
        margin-top: 60px;
        width: 285px;
        height: 80px;
        font-size: 30px;
    }

    .highlight-text a {
        margin-bottom: 30px;
    }

    .highlight-text small {
        width: 329px;
        height: 143px;
        font-size: 16px;
    }

    .highlight-img img {
        width: 320px;
        height: 248px;
        /* position: relative;
        right: 5px; */
    }

    .footer-container {
        margin: 30px 18px 187px;
        /* width: 300px; */
    }

    .footer-img img {
        width: 150px;
        height: 63px;
    }
}